<!DOCTYPE HTML>
<html>
    <head>
        <title>
            Wear a Hat!
        </title>
        <style type="text/css">
            html, body { margin: 0; padding: 0; }
        </style>
        <script type="text/javascript" charset="utf-8" src="{{ STATIC_URL }}scripts/jquery-1.9.1.min.js"></script>
        <script type="text/javascript" charset="utf-8" src="{{ STATIC_URL }}scripts/animframe.js"></script>
        <script type="text/javascript" charset="utf-8" src="{{ STATIC_URL }}scripts/animations.js"></script>
        <script type="text/javascript" charset="utf-8" src="{{ STATIC_URL }}scripts/sockjs.min.js"></script>
        <script type="text/javascript" charset="utf-8" src="{{ STATIC_URL }}scripts/network.js"></script>
        <script type="text/javascript">
            var canvas, networking;

            $(document).ready( function () {
                $('#hat-game').css('min-height', Math.min($(window).innerHeight(), 1250));
                $('#hat-game').css('min-width', Math.min($(window).innerWidth(), 1750));
                
                canvas = new gameCanvas($('#hat-game'), 0, 0, 10, 1000, 1000);

                $('#game_background').load( function() {
                    networking = new Networking(canvas);
                    canvas.init();
                    canvas.start();
                });
                
                $('body').on('keydown', function(e) {
                    var code = e.keyCode || e.which;
                    canvas.move_start(code);
                });

                $('body').on('keyup', function(e) {
                    var code = e.keyCode || e.which;
                    canvas.move_stop(code);
                });
                
                
            });
        </script>
    </head>
    <body>
        <img id="GUY1_IDLE_01" src="{{ STATIC_URL }}ANIMATION/GUY1_IDLE_01.png" style="display: none;" />
        <img id="GUY1_IDLE_02" src="{{ STATIC_URL }}ANIMATION/GUY1_IDLE_02.png" style="display: none;" />
        <img id="GUY1_IDLE_HAT_01" src="{{ STATIC_URL }}ANIMATION/GUY1_IDLE_HAT_01.png" style="display: none;" />
        <img id="GUY1_IDLE_HAT_02" src="{{ STATIC_URL }}ANIMATION/GUY1_IDLE_HAT_02.png" style="display: none;" />
        <img id="GUY1_WALK_BACK_01" src="{{ STATIC_URL }}ANIMATION/GUY1_WALK_BACK_01.png" style="display: none;" />
        <img id="GUY1_WALK_BACK_02" src="{{ STATIC_URL }}ANIMATION/GUY1_WALK_BACK_02.png" style="display: none;" />
        <img id="GUY1_WALK_BACK_HAT_01" src="{{ STATIC_URL }}ANIMATION/GUY1_WALK_BACK_HAT_01.png" style="display: none;" />
        <img id="GUY1_WALK_BACK_HAT_02" src="{{ STATIC_URL }}ANIMATION/GUY1_WALK_BACK_HAT_02.png" style="display: none;" />
        <img id="GUY1_WALK_FRONT_01" src="{{ STATIC_URL }}ANIMATION/GUY1_WALK_FRONT_01.png" style="display: none;" />
        <img id="GUY1_WALK_FRONT_02" src="{{ STATIC_URL }}ANIMATION/GUY1_WALK_FRONT_02.png" style="display: none;" />
        <img id="GUY1_WALK_FRONT_HAT_01" src="{{ STATIC_URL }}ANIMATION/GUY1_WALK_FRONT_HAT_01.png" style="display: none;" />
        <img id="GUY1_WALK_FRONT_HAT_02" src="{{ STATIC_URL }}ANIMATION/GUY1_WALK_FRONT_HAT_02.png" style="display: none;" />
        <img id="GUY1_WALK_LEFT_01" src="{{ STATIC_URL }}ANIMATION/GUY1_WALK_LEFT_01.png" style="display: none;" />
        <img id="GUY1_WALK_LEFT_02" src="{{ STATIC_URL }}ANIMATION/GUY1_WALK_LEFT_02.png" style="display: none;" />
        <img id="GUY1_WALK_LEFT_HAT_01" src="{{ STATIC_URL }}ANIMATION/GUY1_WALK_LEFT_HAT_01.png" style="display: none;" />
        <img id="GUY1_WALK_LEFT_HAT_02" src="{{ STATIC_URL }}ANIMATION/GUY1_WALK_LEFT_HAT_02.png" style="display: none;" />
        <img id="GUY1_WALK_RIGHT_01" src="{{ STATIC_URL }}ANIMATION/GUY1_WALK_RIGHT_01.png" style="display: none;" />
        <img id="GUY1_WALK_RIGHT_02" src="{{ STATIC_URL }}ANIMATION/GUY1_WALK_RIGHT_02.png" style="display: none;" />
        <img id="GUY1_WALK_RIGHT_HAT_01" src="{{ STATIC_URL }}ANIMATION/GUY1_WALK_RIGHT_HAT_01.png" style="display: none;" />
        <img id="GUY1_WALK_RIGHT_HAT_02" src="{{ STATIC_URL }}ANIMATION/GUY1_WALK_RIGHT_HAT_02.png" style="display: none;" />

        <img id="GUY2_IDLE_01" src="{{ STATIC_URL }}ANIMATION/GUY2_IDLE_01.png" style="display: none;" />
        <img id="GUY2_IDLE_02" src="{{ STATIC_URL }}ANIMATION/GUY2_IDLE_02.png" style="display: none;" />
        <img id="GUY2_IDLE_HAT_01" src="{{ STATIC_URL }}ANIMATION/GUY2_IDLE_HAT_01.png" style="display: none;" />
        <img id="GUY2_IDLE_HAT_02" src="{{ STATIC_URL }}ANIMATION/GUY2_IDLE_HAT_02.png" style="display: none;" />
        <img id="GUY2_WALK_BACK_01" src="{{ STATIC_URL }}ANIMATION/GUY2_WALK_BACK_01.png" style="display: none;" />
        <img id="GUY2_WALK_BACK_02" src="{{ STATIC_URL }}ANIMATION/GUY2_WALK_BACK_02.png" style="display: none;" />
        <img id="GUY2_WALK_BACK_HAT_01" src="{{ STATIC_URL }}ANIMATION/GUY2_WALK_BACK_HAT_01.png" style="display: none;" />
        <img id="GUY2_WALK_BACK_HAT_02" src="{{ STATIC_URL }}ANIMATION/GUY2_WALK_BACK_HAT_02.png" style="display: none;" />
        <img id="GUY2_WALK_FRONT_01" src="{{ STATIC_URL }}ANIMATION/GUY2_WALK_FRONT_01.png" style="display: none;" />
        <img id="GUY2_WALK_FRONT_02" src="{{ STATIC_URL }}ANIMATION/GUY2_WALK_FRONT_02.png" style="display: none;" />
        <img id="GUY2_WALK_FRONT_HAT_01" src="{{ STATIC_URL }}ANIMATION/GUY2_WALK_FRONT_HAT_01.png" style="display: none;" />
        <img id="GUY2_WALK_FRONT_HAT_02" src="{{ STATIC_URL }}ANIMATION/GUY2_WALK_FRONT_HAT_02.png" style="display: none;" />
        <img id="GUY2_WALK_LEFT_01" src="{{ STATIC_URL }}ANIMATION/GUY2_WALK_LEFT_01.png" style="display: none;" />
        <img id="GUY2_WALK_LEFT_02" src="{{ STATIC_URL }}ANIMATION/GUY2_WALK_LEFT_02.png" style="display: none;" />
        <img id="GUY2_WALK_LEFT_HAT_01" src="{{ STATIC_URL }}ANIMATION/GUY2_WALK_LEFT_HAT_01.png" style="display: none;" />
        <img id="GUY2_WALK_LEFT_HAT_02" src="{{ STATIC_URL }}ANIMATION/GUY2_WALK_LEFT_HAT_02.png" style="display: none;" />
        <img id="GUY2_WALK_RIGHT_01" src="{{ STATIC_URL }}ANIMATION/GUY2_WALK_RIGHT_01.png" style="display: none;" />
        <img id="GUY2_WALK_RIGHT_02" src="{{ STATIC_URL }}ANIMATION/GUY2_WALK_RIGHT_02.png" style="display: none;" />
        <img id="GUY2_WALK_RIGHT_HAT_01" src="{{ STATIC_URL }}ANIMATION/GUY2_WALK_RIGHT_HAT_01.png" style="display: none;" />
        <img id="GUY2_WALK_RIGHT_HAT_02" src="{{ STATIC_URL }}ANIMATION/GUY2_WALK_RIGHT_HAT_02.png" style="display: none;" />

        <img id="GUY3_IDLE_01" src="{{ STATIC_URL }}ANIMATION/GUY3_IDLE_01.png" style="display: none;" />
        <img id="GUY3_IDLE_02" src="{{ STATIC_URL }}ANIMATION/GUY3_IDLE_02.png" style="display: none;" />
        <img id="GUY3_IDLE_HAT_01" src="{{ STATIC_URL }}ANIMATION/GUY3_IDLE_HAT_01.png" style="display: none;" />
        <img id="GUY3_IDLE_HAT_02" src="{{ STATIC_URL }}ANIMATION/GUY3_IDLE_HAT_02.png" style="display: none;" />
        <img id="GUY3_WALK_BACK_01" src="{{ STATIC_URL }}ANIMATION/GUY3_WALK_BACK_01.png" style="display: none;" />
        <img id="GUY3_WALK_BACK_02" src="{{ STATIC_URL }}ANIMATION/GUY3_WALK_BACK_02.png" style="display: none;" />
        <img id="GUY3_WALK_BACK_HAT_01" src="{{ STATIC_URL }}ANIMATION/GUY3_WALK_BACK_HAT_01.png" style="display: none;" />
        <img id="GUY3_WALK_BACK_HAT_02" src="{{ STATIC_URL }}ANIMATION/GUY3_WALK_BACK_HAT_02.png" style="display: none;" />
        <img id="GUY3_WALK_FRONT_01" src="{{ STATIC_URL }}ANIMATION/GUY3_WALK_FRONT_01.png" style="display: none;" />
        <img id="GUY3_WALK_FRONT_02" src="{{ STATIC_URL }}ANIMATION/GUY3_WALK_FRONT_02.png" style="display: none;" />
        <img id="GUY3_WALK_FRONT_HAT_01" src="{{ STATIC_URL }}ANIMATION/GUY3_WALK_FRONT_HAT_01.png" style="display: none;" />
        <img id="GUY3_WALK_FRONT_HAT_02" src="{{ STATIC_URL }}ANIMATION/GUY3_WALK_FRONT_HAT_02.png" style="display: none;" />
        <img id="GUY3_WALK_LEFT_01" src="{{ STATIC_URL }}ANIMATION/GUY3_WALK_LEFT_01.png" style="display: none;" />
        <img id="GUY3_WALK_LEFT_02" src="{{ STATIC_URL }}ANIMATION/GUY3_WALK_LEFT_02.png" style="display: none;" />
        <img id="GUY3_WALK_LEFT_HAT_01" src="{{ STATIC_URL }}ANIMATION/GUY3_WALK_LEFT_HAT_01.png" style="display: none;" />
        <img id="GUY3_WALK_LEFT_HAT_02" src="{{ STATIC_URL }}ANIMATION/GUY3_WALK_LEFT_HAT_02.png" style="display: none;" />
        <img id="GUY3_WALK_RIGHT_01" src="{{ STATIC_URL }}ANIMATION/GUY3_WALK_RIGHT_01.png" style="display: none;" />
        <img id="GUY3_WALK_RIGHT_02" src="{{ STATIC_URL }}ANIMATION/GUY3_WALK_RIGHT_02.png" style="display: none;" />
        <img id="GUY3_WALK_RIGHT_HAT_01" src="{{ STATIC_URL }}ANIMATION/GUY3_WALK_RIGHT_HAT_01.png" style="display: none;" />
        <img id="GUY3_WALK_RIGHT_HAT_02" src="{{ STATIC_URL }}ANIMATION/GUY3_WALK_RIGHT_HAT_02.png" style="display: none;" />

        <img id="Hat_pic" src="{{ STATIC_URL }}images/HAT.png" style="display: none;" />
        <img id="game_background" src="{{ STATIC_URL }}images/HAT_Background.png" style="display: none;" />
        <div id="hat-game">
        </div>
    </body>
</html>
